.MenuToggle {
    overflow: hidden;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 15px;
    right: 15px;
    z-index: 999;
}
  
.MenuToggle span{
    width: 55px;
    height: 8px;
    margin-bottom: 10px;
    background: #7f8fa6;
    border-radius: 4px;
    transition: all .5s cubic-bezier(.08,.81,.87,.71);
}
  
.Span3 {
    transform-origin: bottom right;
}
  
.Span1Active {
    background-color: #0c2461;
    transform: rotate(45deg) translate(13px, 17px);
}

.Span2Active  {
    background-color: #0c2461;
    transform: rotate(495deg) translate(4px);   
}

.Span3Active  {
    background-color: #0c2461;
    transform: rotate(45deg);
    opacity: 0;
}