.AboutMe{
    height: 100vh;
    width: 100%; 
    z-index: 1;
    animation: in 3s;
    text-align: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@keyframes in {
    from {
        transform: translateX(-50%) scale(0.2) rotateY(130deg);
        opacity: 0;
    }
    to {
        transform: translateX(0) scale(1) rotateY(0deg);
        opacity: 1;
    }
}

@keyframes inMob {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media screen and (max-width: 1024px){
    .AboutMe{
        animation: inMob 2s;
    }
}