.Box {
    width: 100%;
    height: 100%;
    position: absolute;
    width: inherit;
    height: inherit;
    overflow: hidden;
    z-index: -1;
}
  
.Waves {
    position: fixed;
    top: 0;
    left: -5%;
    animation: waves 3s infinite linear;
    border-radius: 30%;
    transform-origin: 50% 48%;
    width: 800px;
    height: 700px;
    background-image: linear-gradient(15deg, rgba(0, 24, 90, 0.801) 0%, rgba(0, 201, 177, 0.2) 100%);
}
  
.Waves:nth-child(2) {
    left: 0%;
    animation-duration: 5s;
  }
  
.Waves:nth-child(3) {
    left: 5%;
    margin-top: 10px;
    animation-duration: 7s;
}
  
.Waves:nth-child(4) {
    left: 10%;
    animation-duration: 9s;
}
  
.Waves:nth-child(5) {
    left: 20%;
    margin-top: 10px;
    animation-duration: 11s;
}
  
.Waves:nth-child(6) {
    left: 30%;
    animation-duration: 12s;
  }
  
.Waves:nth-child(7) {
    left: 40%;
    margin-top: 10px;
    animation-duration: 13s;
}

  
@keyframes waves {
    from {
      transform: rotate(360deg);
    }
    to {
      transform: rotate(0deg);
    }
}

@media screen and (max-width: 1024px){
    .Waves {
        animation: none;
    }
    .Waves:nth-child(2){
        transform: rotate(27deg);
    }
    .Waves:nth-child(3){
        transform: rotate(54deg);
    }
    .Waves:nth-child(4){
        transform: rotate(89deg);
    }
    .Waves:nth-child(5){
        transform: rotate(251deg);
    }
    .Waves:nth-child(6){
        transform: rotate(278deg);
    }
    .Waves:nth-child(7){
        transform: rotate(320deg);
    }
}