.Background {
    height: 100%;
    width: 100%;
    background: radial-gradient(1400px at 75% 0%, rgba(120, 144, 156, 1), rgba(227, 244, 253, 1));
    position: absolute;
    width: inherit;
    height: inherit;
    overflow: hidden;
    z-index: -1;
}
  
@keyframes blink {
    0% {
      border: 0px solid rgba(236, 239, 241, .6);
      background: rgba(96, 125, 139, .6);
      -webkit-transform: rotate(0deg) scale(0.25);
              transform: rotate(0deg) scale(0.25);
    }
    25% {
      border: 200px solid rgba(236, 239, 241, .6);
      background: rgba(96, 125, 139, .6);
      -webkit-transform: rotate(360deg) scale(1) skew(5deg);
              transform: rotate(360deg) scale(1) skew(5deg);
    }
    100% {
      border: 0px solid rgba(236, 239, 241, .6);
      background: rgba(96, 125, 139, .6);
      -webkit-transform: rotate(0deg) scale(0.25);
              transform: rotate(0deg) scale(0.25);
    }
}
.Circle {
    height: 800px;
    width: 800px;
    border-radius: 50%;
    position: absolute;
    box-shadow: 0px 0px 65px 14px rgba(96, 125, 139, .5);
    top: -360px;
    right: -222px;
    -webkit-transform-origin: 75% 50%;
            transform-origin: 75% 50%;
    -webkit-animation: blink 15s infinite ease-in-out;
            animation: blink 15s infinite ease-in-out;
}
  
.Circle:nth-child(2) {
    height: 790px;
    width: 790px;
    animation: blink 15s infinite 1s ease-in-out reverse;
}
  
.Circle:nth-child(3) {
    height: 795px;
    width: 795px;
    -webkit-animation: blink 15s infinite 1.5s ease-in-out;
            animation: blink 15s infinite 1.5s ease-in-out;
}