.Background {
    height: 100%;
    width: 100%;
    background: linear-gradient(135deg, #57a0ff 1%,#68bafd 17%,#61faff 50%,#3ef0fd 58%,#02fcc6 86%); 
    position: absolute;
    z-index: -1;
    filter: blur(1px);
    overflow: hidden;
    box-shadow: inset 0px 0px 100px 50px rgba(0, 0, 0, 0.15);
}