.HomePage{
    height: 90vh;
    z-index: 1;
    animation: in 3s;
    text-align: center;
}
.HomePage h1{
    margin-top: 180px;
}
.HomePage article{
    margin: 30px auto;
    width: 80%;
}

@keyframes in {
    from {
        transform: translateX(-50%) scale(0.2) rotateY(130deg);
        opacity: 0;
    }
    to {
        transform: translateX(0) scale(1) rotateY(0deg);
        opacity: 1;
    }
}
