.HomePage{
    height: 90vh;
    z-index: 1;
    animation: in 3s;
    text-align: center;
}
  

@keyframes in {
    from {
        transform: translateX(-50%) scale(0.2) rotateY(130deg);
        opacity: 0;
    }
    to {
        transform: translateX(0) scale(1) rotateY(0deg);
        opacity: 1;
    }
}
