.HomePage{
    height: 100vh;
    width: 100%; 
    z-index: 1;
    animation: in 3s;
    text-align: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.BlurredBox{
    position: absolute;
    width: inherit;
    height: inherit;
    background: linear-gradient(to right, #dbdbdb 0%,#efefef 52%,#d3d3d3 90%);
    filter:blur(5px);
    z-index: -1;
    box-sizing: border-box;
}

.HomePage article{
    margin: 30px auto;
    width: 80%;
}

@keyframes in {
    from {
        transform: translateX(-50%) scale(0.2) rotateY(130deg);
        opacity: 0;
    }
    to {
        transform: translateX(0) scale(1) rotateY(0deg);
        opacity: 1;
    }
}
