.Cols{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    animation: in 2s ease-in;
    background: linear-gradient(45deg,  #1605fd 10%,#6ce9ffef 90%);
}
.Cols section:nth-child(2n){
    flex-direction: row-reverse;
    background-size: cover;
    background-position: center;
    background: linear-gradient(45deg,  #ff8e23 1%,#af1f1fbb 100%);
    clip-path: polygon(0 0,100% 6%,100% 100%,0 94%);
}

@keyframes in {
    from {
        transform: translateY(-50%) scale(0.7);
        opacity: 0;
    }
    to {
        transform: translateY(0) scale(1);
        opacity: 1;
    }
}

@keyframes inMob {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media screen and (max-width: 1024px){
    .Cols{
        animation: inMob 2s;
    }
    .Cols section:nth-child(2n){
        flex-direction: column;
        clip-path: polygon(0 0,100% 4%,100% 100%,0 96%);
    }
}

@media screen and (max-height: 460px){
    .Cols section:nth-child(2n){
        flex-direction: row-reverse;
    }
}