.Cols{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    animation: in 3s ease-in;
    background: linear-gradient(45deg,  #cedce7 1%,#596a72 100%);
}

@keyframes in {
    from {
        transform: translateY(-50%) scale(0.2);
        opacity: 0;
    }
    to {
        transform: translateY(0) scale(1);
        opacity: 1;
    }
}