.Cols{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    animation: in 3s cubic-bezier(0.4, 0.2, 0.2, 1);
    background: green
}

@keyframes in {
    from {
        transform: translateX(-50%) scale(0.2) rotateY(130deg);
        opacity: 0;
    }
    to {
        transform: translateX(0) scale(1) rotateY(0deg);
        opacity: 1;
    }
}