.WorkWrap{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 40px;
}

.Col{
    min-width: calc(49.9% - 2.6rem);
    height: 70vh;
    margin: 1.3rem;
    overflow: hidden;
}

.Container{
    transform-style: preserve-3d;
    perspective: 1000px;
}
  
.Front,
.Back{
    min-height: 70vh;
    background-size: cover;
    background-position: center;
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    backface-visibility: hidden;
    text-align: center;
    height: auto;
    border-radius: 10px;
    color: #fff;
    font-size: 1.5rem;
}
  
.Back{
    background-size: cover;
    background-position: center;
}
  
.Front:after{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    content: '';
    display: block;
    opacity: .05;
    background-color: #000;
    backface-visibility: hidden;
    border-radius: 10px;
}

.Back:after{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    content: '';
    display: block;
    opacity: .05;
    background-color: #000;
    backface-visibility: hidden;
    border-radius: 10px;
}

.Container:hover .Front,
.Container:hover .Back{
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    background-size: cover;
    background-position: center;
}
  
.Back{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
  
.Inner{
    display: flex;
    flex-direction: column;
    transform: translateY(-50%) translateZ(60px) scale(0.94);
    top: 50%;
    position: absolute;
    left: 0;
    width: 100%;
    padding: 2rem;
    outline: 1px solid transparent;
    perspective: inherit;
    z-index: 2;
}
.Inner div{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.Inner div a{
    margin: 0 15px;
}
  
.Container .Back{
    transform: rotateY(180deg);
    transform-style: preserve-3d;
}
  
.Container .Front{
    transform: rotateY(0deg);
    transform-style: preserve-3d;
}
  
.Container:hover .Back{
    transform: rotateY(0deg);
    transform-style: preserve-3d;
}
  
.Container:hover .Front{
    transform: rotateY(-180deg);
    transform-style: preserve-3d;
}
  
.Front .Inner p{
    font-size: 2rem;
    margin-bottom: 2rem;
    position: relative;
}
  
.Front .Inner p:after{
    content: '';
    width: 4rem;
    height: 2px;
    position: absolute;
    background: #C6D4DF;
    display: block;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: -.75rem;
}
  
.Front .Inner span{
    color: rgba(255,255,255,0.7);
    font-family: 'Montserrat';
    font-weight: 300;
}

.Descript{
    min-width: 50%;
    padding: 50px;
}
.Descript h3{
    margin: 25px 0;
}

@media screen and (max-width: 960px){
    .Col{
        width: 100%;
        height: 50vh;
        margin: 0 0 2rem 0;
    }
    .WorkWrap{
        flex-direction: column;
        padding: 15px;
    }
    .Front,
    .Back{
        min-height: 50vh;
    }
    .Descript{
        min-width: 80%;
        padding: 0;
    }
    .Descript h3{
        margin: 0;
    }
}

@media screen and (max-height: 768px){
    .Col{
        width: 50%;
        height: 80vh;
        margin: 0 0 15px 0;
    }
    .WorkWrap{
        flex-direction: row;
        padding: 25px;
    }
    .Front,
    .Back{
        min-height: 70vh;
    }
    .Descript{
        min-width: 40%;
        padding: 0 20px 0 20px;
    }
    .Descript h3{
        margin: 0;
    }
}
